{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Do you like cooking? Why not come and have a look at some of our great new recipes!
              </h2>
              <h3 class="post-subtitle">
                We have your traditional English dishes and a few continental ones too.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Lee Molton</a>
              on July 24, 2018</p>
          </div>
          <hr>
        </div>
      </div>
{% endblock %}