<!DOCTYPE html>
<html lang="en">
    <title>Recipe Dashboard</title>
{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="image">
        <img id="headline-image" src="/static/img/mainfood.jpg" width="500">
        <div class="col-lg-8 col-lg-10 mx-auto">
            <br>
        </div>
    </div>
    <div class="wrapper">
        <p>Come and have a look at our recipes! Search by cuisine or food item!!</p>
        <form action="{{url_for('find_recipe')}}" method="POST" class="search_box">
            <div class="input-field search-bar">
                <input type="text" name="search_term" placeholder="Search..">
                <label class="label-icon" for="search"><i class="material-icons"></i></label>
            <div class="card-action">
                <button type="submit" class="btn btn-info">Search Recipes</button>
            </div>
            </div>
        </form>
    </div>
</div>

<h4>Some popular recipes you may like to search for!</h4>
<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/static/img/gammonandeggs.jpg">
            </div>
            <div class="card-content">
                <span class="card-title">Gammon and Eggs</span>
                <h6>A classic Gammon and Eggs</h6>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/static/img/roast_lamb.jpg">
            </div>
                <div class="card-content">
                    <span class="card-title">Roast Lamb Dinner</span>
                    <h6>Your classic Roast Lamb Dinner</h6>
                </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/static/img/mixedgrill.jpg">
            </div>
                <div class="card-content">
                    <span class="card-title">Mixed Grill</span>
                    <h6>A delicious and filling Mixed Grill</h6>
                </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/static/img/scouse.jpg">
            </div>
            <div class="card-content">
                <span class="card-title">Scouse</span>
                <h6>A big bowl of Scouse</h6>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/static/img/ShepherdsPie.jpg">
            </div>
                <div class="card-content">
                    <span class="card-title">Shepherd's Pie</span>
                    <h6>A classic Shepherd's Pie</h6>
                </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="/static/img/cornedbeefhash.jpg">
            </div>
                <div class="card-content">
                    <span class="card-title">Corned Beef Hash</span>
                    <h6>A delicious Corned Beef Hash</h6>
                </div>
        </div>
    </div>
</div>
</html>
{% endblock %}

