{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <br>
    <a class="nav-link" href="{{ url_for('index') }}"><h7>Back to Home page</h7></a>
    <br>
    <h3 class="header center teal-text text-lighten-2">{{ recipe.cuisine }}</h3><br>
    <h5 class="header center black-text text-lighten-2">{{ recipe.description }}</h5>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col s12 m4 13">
            <img class="responsive-img" src={{ recipe.image }} alt="{{ recipe.name }}">
        </div><br>
        <div class="col s12 m4 13 offset-m4 16">
            <strong>Cuisine: </strong>{{ recipe.cuisine }}</p>
            <strong>Cooking Time: </strong>{{ recipe.cooking_time }}</p>
            <strong>Item: </strong>{{ recipe.item }}</p>
            <strong>Quantity: </strong>{{ recipe.quantity }}</p>
            <strong>Allergen: </strong>{{ recipe.allergen }}</p>
        </div>
    </div><br><br>
</div>

{% endblock %}