{% extends 'base.html' %}
{% block content %}

<h3 class="header-color">{{ recipes.name.capitalize() }}</h3>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <input id="disabled" type="text" class="validate" disabled value="{{ recipes.countryoforigin.capitalize() }}">
                <label for="disabled">Country of Origin</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="disabled" type="text" class="validate" disabled value="{{ recipes.cuisine.capitalize() }}">
                <label for="disabled">Cuisine</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <input id="disabled" type="text" class="materialize-textarea readonly-color" disabled value="{{ recipes.ingredients.capitalize() }}">
                <label for="disabled">Ingredients</label>
            </div>
        </div>
    </form>
</div>

{% endblock %}